.Education {
  text-align: center;
  box-sizing: border-box;
  background: black;
  
}

.Education-logo {
  height: 10vw;
  width: 10vw;
  pointer-events: none;
  border-radius:50%;

  box-shadow: 0 20px 20px 0 rgba(188, 35, 5, 0.73);
  transition: .01s;
}

@media (prefers-reduced-motion: no-preference) {
  .Education-logo {
    animation: App-logo-spin infinite 0s linear;
  }
}
.Education-Mission-Statement-title{
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  
}
.Education-Mission-Statement{
  text-align: center;
  margin-top: -2vh;
  margin-bottom: 0px;
  margin-left: 7vw;
  margin-right: 7vw;
}
.Education-header {
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-color: #00253F;
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: #0489A4;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: -1vh;
}

.Education-body {
 
  box-sizing: border-box;
  border-style: solid;
  border-color: #00253F;
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  margin-top: vh;
  background-color: #0489A4;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:start;
  font-size: calc(5px + 2vmin);
  color: white;
  
}
.Education-footer {
  border-style: solid;
  border-color: #00253F;
  display:flex;
  align-items: center;
  flex-direction: column;
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: #0489A4;
  height: 5%;
}
.Education-Footer-Statement{
  text-align: center;
  margin-left: 7vw;
  margin-right: 7vw;
  font-size: calc(5px + 1vmin);
}