@import "../Components/Themes.css";
.Education {
  text-align: center;
  box-sizing: border-box;
  background: var(--primary-color);
  height: 100dvh;
}


.Education-title{
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  font-family: var(--primary-font-type);
}
.Education-subtitle{
  text-align: center;
  margin-top: -2vh;
  margin-bottom: 0px;
  margin-left: 7vw;
  margin-right: 7vw;
  font-family: var(--secondary-font-type);
}
.Education-header {
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-color: var(--primary-color);
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--primary-text-color);
  
  padding: 3vh;
  margin-top: 9vh;

}

.Education-body{
  box-sizing: border-box;
  border-style: solid;
  border-color: var(--primary-color);
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:start;
  font-size: calc(5px + 2vmin);
  color: var(--primary-text-color);
  padding: 5vh;
  
}