@import '../Components/Themes.css';
.HireMe {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  
}
.HireMe-header {
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-color: var(--primary-color);
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--primary-text-color);
  padding: 3vh;
  margin-top: 9vh;

}


.HireMe-body {
  box-sizing: border-box;
  border-style: solid;
  border-color: var(--primary-color);
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: var(--primary-text-color);
  flex-grow: 1;
}

.HireMe-titletext{
  text-align: center;
  font-size: calc(10px + 5vmin);
  vertical-align: center;
  font-family: var(--primary-font-type);
}

.Project-secondary-title{
  text-align: center;
  vertical-align: center;
  font-family: var(--secondary-font-type);
}
.HireMe-Paper-content{
  width: 70%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HireMe-ContentText{
  text-align: center;
  margin-top: 0vh;
  margin-bottom: 0px;
  font-size: calc(4vmin);
  font-family: var(--secondary-font-type);
  
  
}
.HireMe-MediaTitle{
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0vh;
  margin-bottom: 0px;
  font-size: calc(3px + 2vmin);
  font-family:var(--secondary-font-type);
}