.HireMe {
  text-align: center;
  box-sizing: border-box;
  border: 10px solid blue;
  background: black;
  
}

.HireMe-logo {
  height: 10vw;
  width: 10vw;
  pointer-events: none;
  border-radius:50%;

  box-shadow: 0 20px 20px 0 rgba(188, 35, 5, 0.73);
  transition: .01s;
}

@media (prefers-reduced-motion: no-preference) {
  .HireMe-logo {
    animation: App-logo-spin infinite 0s linear;
  }
}
.HireMe-Mission-Statement-title{
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  
}
.HireMe-Mission-Statement{
  text-align: center;
  margin-top: -2vh;
  margin-bottom: 0px;
  margin-left: 7vw;
  margin-right: 7vw;
}
.HireMe-header {
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-color: #00253F;
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: #0489A4;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: -1vh;
}

.HireMe-body {
 
  box-sizing: border-box;
  border-style: solid;
  border-color: #00253F;
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  margin-top: vh;
  background-color: #0489A4;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:start;
  font-size: calc(5px + 2vmin);
  color: white;
  
}
.HireMe-link {
  
  font-size: calc(2vmin);
  margin-left: 1vw;
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
