@import '../Components/Themes.css';

.HomePage {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.HomePage-header{
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-color: var(--primary-color);
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--primary-text-color);
  
  padding: 3vh;
  margin-top: 0vh;
}


.Homepage-Title{
  text-align: center;
  font-size: calc(10px + 5vmin);
  vertical-align: center;

}

.HomePage-body {
  box-sizing: border-box;
  border-style: solid;
  border-color: var(--primary-color);
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: var(--primary-text-color);
  
}