.Homepage {
  text-align: center;
  box-sizing: border-box;
  border: 10px solid blue;
  background: black;
}

.HomePage-logo {
  height: 10vw;
  width: 10vw;
  pointer-events: none;
  border-radius:50%;
  float: left;
  box-shadow: 0 20px 20px 0 rgba(188, 35, 5, 0.73);
  transition: .01s;
}

@media (prefers-reduced-motion: no-preference) {
  .HomePage-logo {
    animation: App-logo-spin infinite 0s linear;
  }
}
.HomePage-Mission-Statement-title{
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  border: 10px;
  border-radius: 100%;
  border-color: black;
}
.HomePage-Mission-Statement{
  text-align: center;
}
.HomePage-header {
 
  box-sizing: border-box;
  border-style: solid;
  border-color: #023535;
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: #008F8C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.HomePage-body {
 
  box-sizing: border-box;
  border-style: solid;
  border-color: #023535;
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: #0CABA8;
  min-height: 50vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:start;
  font-size: calc(5px + 2vmin);
  color: white;
  
}
.HomePage-link {
  
  font-size: calc(2vmin);
  margin-left: 1vw;
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
