
.HomePage {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.Homepage-Title{
  padding-top: 4vh;
  font-size: calc(10px + 5vmin);
  vertical-align: bottom;
}

.HomePage-Mission-Statement-title{
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  margin: .5vh;
  font-size: calc(5px + 4vmin)
  
}
.HomePage-Mission-Statement{
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: calc(12px + 1vmin);
}
.HomePage-header {
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-color: #00253F;
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: #0489A4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.HomePage-body {
  vertical-align: middle;
  box-sizing: border-box;
  border-style: solid;
  border-color: #00253F;
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: #0489A4;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
  
}
.HomePage-footer {

  text-align: center;
  border-style: solid;
  border-color: #00253F;
  display:flex;
  align-items: center;
  flex-direction: column;
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: #0489A4;
  height: 2vh;
}
.HomePage-link {
  
  font-size: calc(2vmin);
  margin-left: 1vw;
  text-align: left;
}
.HomePage-Footer-Statement{
  text-align: center;
  margin-left: 7vw;
  margin-right: 7vw;
  margin: 0%;
  font-size: calc(5px + 1vmin);
}
.ExternalSites-title{
  text-align: center;
  margin-left: 7vw;
  margin-right: 7vw;
  margin: 1%;
  font-size: calc(5px + 4vmin);

}