@import '../Components/Themes.css';

.Projects{
  display: flex;
  text-align: center;
  box-sizing: border-box;

  flex-direction: column;
  height: 100dvh;
}
.Projects-header {
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-color: var(--primary-color);
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--primary-text-color);
  padding: 3vh;
  padding-bottom: 0;
  margin-top: 9vh;
}

.Projects-Title{
  padding: 0vh;
  height: 0;
  font-size: calc(10px + 5vmin);
  vertical-align: center;
  text-align: center;
  font-family: var(--primary-font-type);
}

.Projects-Secondary-Title{
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  margin: 1%;
  font-size: calc(10px + 2vmin);
  font-family: var(--secondary-font-type);
  
}

.Projects-body{
  vertical-align: middle;
  box-sizing: border-box;
  border-style: solid;
  border-color: var(--primary-color);
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: var(--secondary-color);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: var(--primary-text-color);
  
}