
.Projects {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh
}
.Projects-Title{
  margin-top: 10%;
  font-size: calc(10px + 5vmin);
  vertical-align: bottom;
}

.Projects-Mission-Statement-title{
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  margin: 1%;
  font-size: calc(10px + 2vmin);
  
}
.Projects-Mission-Statement{
  text-align: center;
  margin-left: 7vw;
  margin-right: 7vw;
  margin: 0%;
  font-size: calc(10px + 2vmin);
}
.Projects-header {
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-color: #00253F;
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: #0489A4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 40%;
}

.Projects-body {
  vertical-align: middle;
  box-sizing: border-box;
  border-style: solid;
  border-color: #00253F;
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: #0489A4;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
  height: 60vh;
  
}
.Projects-footer {
  border-style: solid;
  border-color: #00253F;
  display:flex;
  align-items: center;
  flex-direction: column;
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: #0489A4;
  height: 35%;
}
.Projects-link {
  
  font-size: calc(2vmin);
  margin-left: 1vw;
  text-align: left;
}
.Projects-Footer-Statement{
  text-align: center;
  margin-left: 7vw;
  margin-right: 7vw;
  margin: 0%;
  font-size: calc(5px + 1vmin);
}