
.Projects {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.Projects-header {
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-color: #00253F;
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: #0489A4;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: -1vh;
  margin-top:-10vh;
}

.Projects-Title{
  padding-top: 15%;
  font-size: calc(10px + 5vmin);
  vertical-align: center;
  text-align: center;
}

.Projects-Mission-Statement-title{
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  
}
.Projects-Mission-Statement{
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: calc(12px + 1vmin);
}


.Projects-body {
  vertical-align: middle;
  box-sizing: border-box;
  border-style: solid;
  border-color: #00253F;
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: #0489A4;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
  
}
.Projects-footer {
  border-style: solid;
  border-color: #00253F;
  display:flex;
  align-items: center;
  flex-direction: column;
  border-right-width: 7vw;
  border-left-width: 7vw;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: #0489A4;
  height: 50vh;
}
.Projects-Footer-Statement{
  text-align: center;
  margin-left: 7vw;
  margin-right: 7vw;
  margin: 0%;
  font-size: calc(5px + 1vmin);
}
