@import "./Themes.css";
.ClassCardBackground {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
    width: 80vw;
}

.ClassCard {
    width: 20vw;
    height: 100%;
    flex: auto;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    color: var(--primary-text-color);
}

.p {
    white-space: normal;
 
}