.ClassCardBackground {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    background-color: #0489A4;
    max-width: 100%;
}

.ClassCard {
    width: 20vw;
    padding: 1vw;
    flex: auto;
    background-color: #00253F;
    justify-content: center;
    align-items: center;
    color: white;
    }

.p {
    white-space: normal;
 
}