.HomepageInnerPaper{
    width: 35vw;
    min-width: 250px;
    margin: 3vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.HomePage-Card-Title{
    text-align: center;
    box-sizing: border-box;
    padding-bottom:2vh;
    margin: .5vh;
    font-size: calc(5vh);
    font-family: var(--primary-font-type);
    
  }
  .HomePage-Card-Content{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: calc(4vmin);
    width: 90%;
    font-family: var(--third-font-type);
  }
  
.HomepageInnerPaper-small{
  margin: 3vh;
  font-size: calc(5px + 4vmin);
  font-family: var(--primary-font-type);
  padding: 2vh;
  padding-top: 0vh;
  }
.HomePageInnerGrid{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
.ExternalSites-title{
  font-size: calc(4vh);
  }