@import '../Components/Themes.css';
.ProjectCardGrid {
    display: flex;
    padding: 0;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    background-color: var(--secondary-color);
    width: 100%;
    
}

.ProjectCard {
    width: 15vw;
    height: calc(100%);
    color: var(--primary-text-color);
    position: relative;
    }
    
.ProjectCard-content{
    
    font-family: var(--third-font-type);
}