
@font-face {
    font-family: "PrimaryFont";
    font-style: normal;
    font-weight: 400;
    src: url("");
}
@font-face {
  font-family: "SecondaryFont";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/dellarespira/v22/RLp5K5v44KaueWI6iEJQBiGPdf4Yug.woff2);
}
@font-face {
  font-family: "ThirdFont";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/yantramanav/v13/flU8Rqu5zY00QEpyWJYWN5fzXeY.woff2);
}
:root{
  --primary-color: #0d1b2a;
  --secondary-color: #1b263b;
  --primary-text-color: #e0e1dd;
  --secondary-text-color: #e0e1dd;
  --card-background-color:#415a77;
  --card-inner-background-color:#e0e1dd;

  --primary-font-type:"PrimaryFont";
  --secondary-font-type:"SecondaryFont";
  --third-font-type:"ThirdFont";
}
