:root{
  --primary-color: #ffffff;
  --secondary-color: #ffffff;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --card-background-color:#22345f;
  --card-inner-background-color:#666666;
}