:root{
  --primary-color: #0d1b2a;
  --secondary-color: #1b263b;
  --primary-text-color: #e0e1dd;
  --secondary-text-color: #e0e1dd;
  --card-background-color:#415a77;
  --card-inner-background-color:#e0e1dd;
}